/* Variables */
:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;

  --basic-dark-gray: #283136;
  --basic-gray: #666666;
  --basic-light-gray: #444444;
  --basic-lighten-gray: #EEEEEE;

  --basic-light-red: #FB565A;
  --basic-red: #E74246;
  --basic-dark-red: #D7373B;

  --basic-light-green: #00CA74;
  --basic-green: #00BC6C;
  --basic-dark-green: #00AA62;

  --basic-light-yellow: #EFC849;
  --basic-yellow:#EAB534;
  --basic-dark-yellow: #E5A722;

  --catalog-gray: #DFDFDF;
  --catalog-dark-gray: #D5D5D5;

  --social-gray: #E1E1E1;
  --transparent-white: rgba(255, 255, 255, 0.3);
  --special-white: rgba(0, 0, 0, 0.0001);
  --transparent-black: rgba(0, 0, 0, 0.3);
  --transparent-black-60: rgba(0, 0, 0, 0.6);
}

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-dark-gray);
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {
  background-color: var(--basic-lighten-gray);

  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.main-header-logo {
  color: var(--basic-black);
}

.main-header-logo:active {
  opacity:30%;
}

/* Main navigation */

.main-navigation {
  display: grid;
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: transparent;
}

/* Container */
.container {
  width: 1157px;
  margin: 0 auto;
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  width: 1157px;
  margin: 0 auto;
}

.site-navigation {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* User navigation */

.site-navigation a,
.cart-link,
.site-navigation a:visited,
.cart-link:visited {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart-link:hover, 
.cart-link:focus {
  color: var(--basic-light-red);
}

.site-navigation a:active,
.cart-link:active {
  color: var(--transparent-black);
}

.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  background-color: var(--basic-lighten-gray);
  color: var(--basic-black);
}

/* Buttons */
.button,
button:visited {
  color: var(--basic-white);
  background-color: var(--basic-light-red);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.button:hover,
.button:focus {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.button:active {
  background-color: var(--basic-dark-red);
  color: var(--transparent-white);
}

/* Features */

.features {
  background-color: var(--basic-lighten-gray);
  margin-bottom: 50px;
}

.features-slider {
  display: grid;
  grid-template-columns: repeat(12, 60px);
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 40px;
}

.features-img {
  grid-column: 5 / -1;
  grid-row: 1 / -1;
}

.features-info {
  grid-column: 1 / 6;
  grid-row: 2 / 4;
}


.features-info h3 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: var(--basic-black);
  background-color: transparent;
}

/* Products */
.products {
  margin-bottom: 80px;
}

.products-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.products-item h3 {
  text-transform: uppercase;
  color: var(--basic-black);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.products-button--green,
.products-button--green:visited {
  background-color: var(--basic-light-green);
}

.products-button--green:hover,
.products-button--green:focus {
  background-color: var(--basic-green);
  color: var(--basic-white);
}

.products-button--green:active {
  background-color: var(--basic-dark-green);
  color: var(--transparent-white);
}

.products-button--yellow,
.products-button--yellow:visited {
  background-color: var(--basic-light-yellow);
  color: var(--basic-white);
}

.products-button--yellow:hover,
.products-button--yellow:focus {
  background-color: var(--basic-yellow);
  color: var(--basic-white);
}

.products-button--yellow:active {
  background-color: var(--basic-dark-yellow);
  color: var(--transparent-white);
}

/* About */
.about-us-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 60px);
  column-gap: 40px;
}

.about-us-descr {
  grid-column: 1 / 8;
}

.about-us-descr h3 {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: var(--basic-black);
}

.about-us h4 {
  text-transform: uppercase;
  font-weight: 700;
}

.about-us-numbers {
  grid-column: -1 / -5;
}

.about-us-descr-list,
.about-us-numbers-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.about-us-numbers h4 {
  color: var(--basic-black);
  text-align: center;
}

.about-us-numbers-item p:first-child {
  font-size: 45px;
  font-weight: 700;
  line-height: 64px;
  color: var(--basic-black);
}

.about-us-numbers-item span {
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
  
}

/* Partners */
.partners-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  vertical-align: middle;
  margin-top: 44px;
  margin-bottom: 44px;
}

.partners-item-logo {
  opacity: 20%;

}

.partners-item-logo:hover,
.partners-item-logo:focus {
  opacity: 100%;
  color: var(--basic-black);
}

.partners-item-logo:active {
  opacity: 10%;
  color: var(--basic-black);
}

/* Filters */
.filters h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-black);
}

.show-filters-button,
.show-filters-button:visited {
  background-color: var(--basic-lighten-gray);
  color: var(--basic-black);
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}

.show-filters-button:hover,
.show-filters-button:focus {
  background-color: var(--catalog-gray);
  color: var(--basic-black);
}

.show-filters-button:active {
  background-color: var(--catalog-dark-gray);
  color: var(--transparent-black);
}

/* Sort */
.sort h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-black);
}

.sort-type-list,
.sort-direction-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.sort-type-list a,
.sort-direction-list a {
  text-transform: uppercase;
  color: var(--transparent-black);
}

.sort-type-list a:hover,
.sort-type-list a:focus,
.sort-direction-list a:hover,
.sort-direction-list a:focus {
  color: var(--transparent-black-60);
}

.sort-type-list a:active,
.sort-direction-list a:active {
  color: var(--basic-black);
}

.sort-type-list .sort-type-selected,
.sort-direction-list .sort-direction-selected {
  color: var(--basic-black);
}

/* Templates */
.templates-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.templates-item h3 {
  background-color: var(--basic-lighten-gray);
}

.template-header,
.template-header:visited {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-black);
}

.template-header:hover,
.template-header:focus {
  color: var(--basic-light-red);
}

.template-header:active {
  color: var(--transparent-black);
}

.templates-item .item-info {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-gray);
  background-color: var(--basic-lighten-gray);
}

.add-to-cart-button:active {
  color: var(--basic-white);
}

/* Pagination */
.pagination-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.pagination-item a {
  background-color: var(--basic-lighten-gray);
  color: var(--basic-black);
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.pagination-item-current a {
  background-color: var(--special-white);
  color: var(--basic-black);
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: var(--catalog-gray);
  color: var(--basic-black);
}

.pagination-item a:active {
  background-color: var(--catalog-dark-gray);
  color: var(--transparent-black);
}

.pagination-next,
.pagination-next:visited {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-lighten-gray);
}

.pagination-next:hover,
.pagination-next:focus {
  color: var(--basic-black);
  background-color: var(--catalog-gray);
}

.pagination-next:active {
  color: var(--transparent-black);
  background-color: var(--catalog-dark-gray);
}

/* Contacts */
.contacts-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 60px);
  grid-template-rows: 416px;
  column-gap: 40px;
}

.contacts-map {
  background-color: var(--basic-lighten-gray);
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.contacts-feedback {
  background-color: var(--basic-white);
  margin-top: 55px;
  margin-bottom: 55px;
  padding: 49px 50px 47px 50px;
  width: 318px;
  height: 308px;
  box-sizing: border-box;
  grid-column: 1 / 5;
  grid-row: 1 / -1;
}

.contacts-feedback h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-black);
}

.contacts-feedback p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-gray);
}

.contacts-phone,
.contacts-phone:hover,
.contacts-phone:focus {
  color: inherit;
}

/* Footer */
.main-footer .footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 71px;
}

.footer-wrapper ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/*  Social buttons */
.social-button {
  text-transform: uppercase;
  background-color: var(--social-gray);
  color: var(--basic-white);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.social-button:active {
  color: var(--transparent-white);
  background-color: var(--basic-dark-red);
}

.social-button:active img {
  opacity:30%
}

/* Social sale */
.social-sale h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: var(--basic-black);
  margin: 0;
}

.social-sale p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: var(--basic-dark-gray);
  margin-bottom: 0;
}

/* Feedback */
.feedback h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
}