/* Variables */
:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;

  --basic-dark-gray: #283136;
  --basic-gray: #666666;
  --basic-light-gray: #444444;
  --basic-lighten-gray: #EEEEEE;

  --basic-light-red: #FB565A;
  --basic-red: #E74246;
  --basic-dark-red: #D7373B;

  --basic-light-green: #00CA74;
  --basic-green: #00BC6C;
  --basic-dark-green: #00AA62;

  --basic-light-yellow: #EFC849;
  --basic-yellow:#EAB534;
  --basic-dark-yellow: #E5A722;
}

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-dark-gray);
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  background-color: var(--basic-lighten-gray);
}

/* Main navigation */

.main-navigation {
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: transparent;
}

.site-navigation {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* User navigation */

.site-navigation a,
.cart-link,
.site-navigation a:visited,
.cart-link:visited {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart-link:hover, 
.cart-link:focus {
  color: var(--basic-light-red);
}

.site-navigation a:active,
.cart-link:active {
  color: var(--basic-black);
  opacity: 30%;
}

/* Buttons */
.button,
button:visited {
  color: var(--basic-white);
  background-color: var(--basic-light-red);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.button:hover,
.button:focus {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.button:active {
  background-color: var(--basic-dark-red);
  color: var(--basic-white);
  opacity: 30%;
}

/* Features */

.features {
  background-color: var(--basic-lighten-gray);
}

.features-info h3 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: var(--basic-black);
  background-color: transparent;
}

/* Products */

.products-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.products-item h3 {
  text-transform: uppercase;
  color: var(--basic-black);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.products-button--green,
.products-button--green:visited {
  background-color: var(--basic-light-green);
}

.products-button--green:hover,
.products-button--green:focus {
  background-color: var(--basic-green);
  color: var(--basic-white);
}

.products-button--green:active {
  background-color: var(--basic-dark-green);
  color: var(--basic-white);
  opacity: 30%;
}

.products-button--yellow,
.products-button--yellow:visited {
  background-color: var(--basic-light-yellow);
  color: var(--basic-white);
}

.products-button--yellow:hover,
.products-button--yellow:focus {
  background-color: var(--basic-yellow);
  color: var(--basic-white);
}

.products-button--yellow:hover,
.products-button--yellow:focus {
  background-color: var(--basic-dark-yellow);
  color: var(--basic-white);
  opacity: 30%;
}

/* About */
.about-us-descr h3 {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: var(--basic-black);
}

.about-us h4 {
  text-transform: uppercase;
  font-weight: 700;
}

.about-us-descr-list,
.about-us-numbers-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.about-us-numbers h4 {
  color: var(--basic-black);
}

.about-us-numbers-item p:first-child {
  font-size: 45px;
  font-weight: 700;
  line-height: 64px;
  color: var(--basic-black);
}

.about-us-numbers-item span {
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
  
}

/* Partners */
.partners-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* Contacts */
.contacts h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-black);
}

.contacts p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-gray);
}

.contacts-phone,
.contacts-phone:hover,
.contacts-phone:focus {
  color: inherit;
}

/* Footer */
.footer-social ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.social-button {
  color: inherit;
  text-transform: uppercase;
}

.social-sale h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: var(--basic-black);
}

.social-sale p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: var(--basic-dark-gray);
}
